<div class="schedule-table">
  <table>
    <thead>
      <tr>
        <th>Class Name</th>
        <th>From</th>
        <th>To</th>
        <th>Room</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let classItem of schedule; trackBy: trackByClass" [ngClass]="getClassRowClass(classItem)">
        <td>{{ classItem.className }}</td>
        <td>{{ classItem.startTime|date:'MM/dd/yyyy hh:mm a'}}</td>
        <td>{{ classItem.endTime|date:'MM/dd/yyyy hh:mm a' }}</td>
        <td>{{ classItem.room }}</td>
      </tr>
    </tbody>
  </table>
</div>
